<!DOCTYPE html>
<html>
<title>Modifier1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/boostrap.css" rel="stylesheet" type="text/css">
<link href="css/General.css" rel="stylesheet" type="text/css">
<body class="w3-light-grey">


<div class="w3-display-topright w3-margin-right" style="width:15%">
  <button class="w3-btn-block w3-section w3-padding rouge" type="submit"> 
  <a href="Deconnexion">Deconnexion</a></button>
</div>

<div class="w3-container w3-section w3-animate-opacity w3-center">
<img src=images/Logo.png alt="Avatar" style="width:50%" >
</div>


<div class="w3-container w3-margin" >
  <h1 class="TextRouge "><a href="Metiers" class="Retour"> Metier</a> / Ingenieur </h1>  
</div>

<div class="w3-row-padding w3-margin-left w3-margin-right">

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow">
      <li class="w3-black w3-xlarge w3-padding-32 w3-center ">
        <div class="w3-row">
          <div class="w3-quarter w3-container ">
            <h2>Q1</h2> 
          </div>
          <div class="w3-threequarter w3-container">
            <h2>Aimez vous faire du vélo ?</h2> 
          </div>
        </div> 
    </li>

    <li class= "w3-white">
      <img src=images/roue-de-velo-cassee.jpg alt="Avatar" style="width:30%">
    </li>
    <li class="w3-padding-16 w3-white w3-center"> 
      <div class="bold"><b> Oui </b></div>
      <div class=""> coefficient: 2 </div>
    </li>
    <li class="w3-padding-16 w3-white"> 
     <div class="bold"><b> Non </b></div>
      <div class=""> coefficient: 0 </div>
    </li>
    <li class="w3-padding-16 w3-white"> 
     <div class="bold"><b> Des fois </b></div>
      <div class=""> coefficient: 1 </div>
    </li>
    <li class="w3-white w3-padding-24">
      <button class="w3-btn w3-green w3-padding-12 w3-margin-right" style="width:25%" ><a href="Modifier"> Modifier </a> </button>
    </li>
  </ul>
</div>

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow">
      <li class="w3-black w3-xlarge w3-padding-32 w3-center ">
        <div class="w3-row">
          <div class="w3-quarter w3-container ">
            <h2>Q2</h2> 
          </div>
          <div class="w3-threequarter w3-container">
            <h2>Aimez vous les mathématiques ?</h2> 
          </div>
        </div> 
    </li>
    <li class= "w3-white">
      <img src=images/roue-de-velo-cassee.jpg alt="Avatar" style="width:30%">
    </li>
    <li class="w3-padding-16 w3-white w3-center"> 
      <div class="bold"><b> Oui </b></div>
      <div class=""> coefficient: 2 </div>
    </li>
    <li class="w3-padding-16 w3-white"> 
     <div class="bold"><b> Non </b></div>
      <div class=""> coefficient: 0 </div>
    </li>
    <li class="w3-padding-16 w3-white"> 
     <div class="bold"><b> Ca depend </b></div>
      <div class=""> coefficient: 1 </div>
    </li>
    <li class="w3-white w3-padding-24">
      <button class="w3-btn w3-green w3-padding-12 w3-margin-right" style="width:25%" >Modifier</button>
    </li>
  </ul>
</div>

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow">
    <li class="w3-black w3-xlarge w3-padding-32">Ingenieur</li>
    </li>
    <li class="w3-white w3-padding-24">
      <button class="w3-btn w3-green w3-padding-12 w3-margin-right" style="width:25%" >Modifier</button>
      <button class="w3-btn w3-green w3-padding-12 w3-margin-left" style="width:25%"> Supprimer</button>
    </li>
  </ul>
</div>

<div class="w3-third w3-margin-bottom">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow">
    <li class="w3-black w3-xlarge w3-padding-32">Ingenieur</li>
    </li>
    <li class="w3-white w3-padding-24">
      <button class="w3-btn w3-green w3-padding-12 w3-margin-right" style="width:25%" >Modifier</button>
      <button class="w3-btn w3-green w3-padding-12 w3-margin-left" style="width:25%"> Supprimer</button>
    </li>
  </ul>
</div>


</div>

</body>
</html> 